<h1>The Stationary Loft</h1>
{{!-- <div class="grid-container">

<div class="grid-item">
<a href="/product/{{this.id}}">
<ul>
    <li><strong>Name: </strong>  </li>
    <li><strong>Description: </strong> </li>
    <li><strong>Price: </strong> 
   $
    <br><img src=""><br> 

    
    <br>
    
     </li>
</ul>
</a>
</div>

<div class="grid-item">
<a href="/product/{{this.id}}">
<ul>
    <li><strong>Name: </strong>  </li>
    <li><strong>Description: </strong> </li>
    <li><strong>Price: </strong> 
   $
    <br><img src=""><br> 

    
    <br>
    
     </li>
</ul>
</a>
</div> --}}
{{#if data.featured}}
  <div class="section-divider" id="featured"></div>
  <h2>Featured Products</h2>
  <div class="owl-theme owl-carousel owl-packages">
    {{#each data.featured}}
      <!-- Package card structure -->
    {{/each}}
  </div>
{{/if}}

{{#if data.featured}}
<div class="section-divider" id="featured"></div>
<div class="owl-theme owl-carousel owl-packages">
{{#each data.featured}} 
  <div class="card">
  <a href="/product/{{this.url}}">
   {{#if this.image}} 
  <img src="{{this.image}}" class="card-img-top" alt="...">
  {{/if}}
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.text}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{this.price}}</li>
    <li class="list-group-item">{{this.duration}}</li>
  </ul>
  </a>
</div>
{{/each}}
</div>
{{/if}}

<div class="category-container">

  <div class="category-item">
  <a href="/category/stationary" class="category-link">
    <img src="/img/stationary/stationary-1.jpeg">
    <p>Stationary</p>
  </a>
  </div>

  <div class="category-item">
  <a href="/category/wellness" class="category-link">
    <img src="/img/wellness/wellness-1.jpeg">
    <p>Wellness</p>
  </a>
  </div>

  <div class="category-item">
  <a href="/category/decor" class="category-link">
    <img src="/img/decor/decor-1.jpeg">
    <p>Decor</p>
  </a>
  </div>

</div>